<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940570322385-kub7al80uo31u4kkelhkbeebuh1brkro.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940570322385-kub7al80uo31u4kkelhkbeebuh1brkro</string>
	<key>API_KEY</key>
	<string>AIzaSyCQWtu6uQyDUVnigAEjwrQgtN1mMZPKQs4</string>
	<key>GCM_SENDER_ID</key>
	<string>940570322385</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zcredi.MyMusicApp</string>
	<key>PROJECT_ID</key>
	<string>mymusicapp-9d7c4</string>
	<key>STORAGE_BUCKET</key>
	<string>mymusicapp-9d7c4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940570322385:ios:037132f37a78e64c22acf0</string>
</dict>
</plist>